html, body {
    background-image: url(images/colored.png);
    background-size: cover;   
    margin: auto;
    padding: auto;
    }
 p {
     font-family: Ink Free;
     color: #034AC9;
    }
li { font-family:Georgia;
     font-size:20px;
    }

 #image1 {
     border-radius: 70%;
     height: 400px;
     width: 600px;
 }   