/* Universal Styles */
body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: 'Rock Salt', cursive;
  text-align: center;
}
/*
.secondary-background {
  background-color: rgb(30, 118, 47);
}*/

.tagline {
  font-family: 'Quicksand', sans-serif;
  color: lightslategrey;
  line-height: 125px;
}

/* Header */
h1 {
  margin: 0;
  background-color: steelblue;
  line-height: 100px;
  color: khaki;
}

h2 {
  margin: 1px;
}

/* App Container */
.container {
  border: 2px solid snow;
}

/* To Do Section */
.week {
}

.row {
  min-height: 20px;
  display: flex;
  justify-content: center;
 
}

.square {
  width: 125px;
  height: 125px;
  padding: 10px;
}

.day.square {
  background-color: steelblue;
  border: 1px solid rgb(144, 139, 139)
}

.task.square {
  background-color: rgb(140, 205, 240);
  border: 1px solid rgb(144, 139, 139);
  
}

.task p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

/* Reminders */
.reminders {
  background-color: khaki;
}

.reminders h3 {
  width: 100%;
  margin: 10px;
  color: black;
  line-height: 90px;
  font-size: 24px;
}

/* Footer */
footer {
  font-size: 24px;
}